.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px 10px 40px 10px;
  background-color: rgba(0, 0, 0, 0.7) !important;
  overflow: hidden;
  overflow-y: auto;
  z-index: 999;
  opacity: 0;
  transition: opacity 0.3s;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal-overlay::before,
.modal-overlay::after {
  content: '';
  display: block;
  height: 1px;
  flex-grow: 1;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 287px;
  height: 173px;
  padding: 24px;
  background-color: #fcfcfc;
  border-radius: 8px;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.25));
  transform: translateY(50px);
  transition: transform 0.3s;
  @media screen and (min-width: 768px) {
    max-width: 302px;
    padding: 24px;
  }
}

.ReactModal__Content--after-open {
  transform: translateY(0);
}

.ReactModal__Content--before-close {
  transform: translateY(50px);
}

